<div class="mx-auto px-4 py-6 space-y-8">
    <div class="relative h-screen max-h-[80vh] overflow-hidden rounded-lg shadow-lg">
        <div class="relative w-full h-full">
            <img [src]="'../../../assets/images/Service-use.jpg'" alt="Service illustration"
                class="w-full h-full object-cover transition-all duration-200">
        </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-4">
        <div class="lg:w-3/4 space-y-4">

            <div class="flex flex-col lg:flex-row gap-4">
                <div class="lg:w-1/2 space-y-4">
                    <div class="relative rounded-lg shadow p-6 space-y-4">
                        <h3 class="bg-gray-300 rounded-md text-center text-blue-600 font-bold">MEDLATEC Home Care</h3>

                        <h3 class="text-2xl font-bold text-black leading-relaxed">
                            Chăm sóc sức khỏe toàn diện, liên tục <span class="font-bold text-blue-500">cho bạn và gia
                                đình</span>.
                        </h3>

                        <h3 class="text-black text-base leading-relaxed">
                            Dịch vụ Bác sĩ gia đình MEDLATEC là dịch vụ chăm sóc sức khỏe được cung cấp bởi Hệ thống Y
                            tế
                            MEDLATEC. Với trách nhiệm của mình, các bác sĩ gia đình sẽ giúp lập kế hoạch, quản lý và
                            theo
                            dõi cho cá nhân và các thành viên gia đình về sức khỏe xuyên suốt quá trình, tư vấn khám sức
                            khỏe định kỳ, tư vấn dinh dưỡng và kế hoạch dinh dưỡng, cũng như tư vấn phòng ngừa các bệnh
                            lý
                            và tổng hợp gửi thông tin sức khỏe định kỳ.
                        </h3>

                        <div class="w-full flex items-center">
                            <button class="bg-blue-500 text-white py-3 px-6 rounded-lg transition duration-300 shadow-md 
                                                    hover:shadow-lg hover:bg-blue-300" 
                                                    onclick="window.location.href='https://www.facebook.com/BenhVienDaKhoaMedlatec/'">
                                Liên hệ tư vấn
                            </button>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/2 space-y-4">
                    <div class="bg-white rounded-lg shadow-lg overflow-hidden h-full">
                        <img [src]="'../../../assets/images/service1.png'" alt="Service illustration"
                            class="w-full h-full object-cover transition-all duration-300">
                    </div>
                </div>
            </div>

            <div class="flex flex-col lg:flex-row gap-4 py-4">
                <div class="lg:w-1/2 space-y-4">
                    <div class="relative rounded-lg shadow p-6 space-y-4">
                        <h3 class="bg-gray-300 rounded-md text-center text-blue-600 font-bold">MEDLATEC Appointment</h3>

                        <h3 class="text-2xl font-bold text-black leading-relaxed">
                            Thủ tục nhanh gọn, dễ dàng, phục vụ tối ưu <span class="font-bold text-blue-500">cho khách hàng</span>.
                        </h3>

                        <h3 class="text-black text-base leading-relaxed">
                            Dịch vụ Bác sĩ gia đình MEDLATEC là dịch vụ chăm sóc sức khỏe được cung cấp bởi Hệ thống Y
                            tế
                            MEDLATEC. Với trách nhiệm của mình, các bác sĩ gia đình sẽ giúp lập kế hoạch, quản lý và
                            theo
                            dõi cho cá nhân và các thành viên gia đình về sức khỏe xuyên suốt quá trình, tư vấn khám sức
                            khỏe định kỳ, tư vấn dinh dưỡng và kế hoạch dinh dưỡng, cũng như tư vấn phòng ngừa các bệnh
                            lý
                            và tổng hợp gửi thông tin sức khỏe định kỳ.
                        </h3>

                        <div class="w-full flex items-center">
                            <button class="bg-blue-500 text-white py-3 px-6 rounded-lg transition duration-300 shadow-md 
                                                    hover:shadow-lg hover:bg-blue-300" 
                                                    onclick="window.location.href='https://www.facebook.com/BenhVienDaKhoaMedlatec/'">
                                Liên hệ tư vấn
                            </button>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/2 space-y-4">
                    <div class="bg-white rounded-lg shadow-lg overflow-hidden h-full">
                        <img [src]="'../../../assets/images/Service-use2.png'" alt="Service illustration"
                            class="w-full h-full object-cover transition-all duration-300">
                    </div>
                </div>
            </div>

        </div>

        <div class="lg:w-1/4 space-y-4">
            <!-- Block 1 -->
            <div class="relative bg-gray-800 rounded-lg shadow p-6 space-y-4 text-white">
                <div class="flex items-center space-x-4 p-4">
                    <div class="flex-shrink-0 flex items-center justify-center h-12 w-12 bg-blue-600 rounded-full">
                        <i class="fas fa-phone text-white text-xl"></i>
                    </div>

                    <div class="text-white">
                        <h4 class="font-semibold text-lg">Hotline</h4>
                        <h4 class="text-blue-200 text-2xl font-bold">1900 56 56 56</h4>
                    </div>
                </div>

                <h3 class="text-white text-base leading-relaxed">
                    Liên hệ ngay với số hotline của <span class="font-bold">MEDCARE</span> để được phục vụ và sử dụng
                    các dịch vụ
                    khám, chữa bệnh hiện đại & cao cấp nhất.
                </h3>

                <div class="w-full py-4 flex justify-center items-center">
                    <button class="bg-white text-blue-700 font-bold py-3 px-6 rounded-lg transition duration-300 shadow-md 
            hover:shadow-lg hover:bg-blue-300 text-lg" onclick="window.location.href='https://www.facebook.com/BenhVienDaKhoaMedlatec/'">
                        Liên hệ với chúng tôi
                    </button>
                </div>
            </div>

            <!-- Block 2 -->
            <div class="flex items-center rounded-lg shadow hover:shadow-md transition-shadow no-underline">
                <div class="rounded-lg shadow-lg overflow-hidden h-full">
                    <img [src]="'../../../assets/images/Advertirement.jpg'" alt="Service illustration"
                        class="w-full h-full object-cover transition-all duration-300">
                </div>
            </div>
        </div>

    </div>

</div>