<div class="mx-auto px-4 py-6 space-y-8">
  <h1 class="text-2xl font-bold mt-0 mb-4 bg-blue-100 py-7 pl-4 pr-1 rounded-md">Tin tức y khoa</h1>

  <div class="flex flex-col lg:flex-row gap-4">
    <div class="lg:w-3/4 space-y-4">

      <div class="flex flex-col">
        <input id="keyword" type="text" [(ngModel)]="keyword" (input)="loadPage(0)"
          placeholder="Nhập tên bài báo..." class="border border-gray-300 rounded-md w-full py-2 px-3 
             focus:outline-none focus:ring-2 focus:ring-green-500 transition" />
      </div>

      <!-- Danh sách bài viết -->
      <a *ngFor="let article of articles" [routerLink]="['/news', article.id]"
        class="flex items-center bg-white rounded-lg shadow hover:shadow-md transition-shadow p-4 no-underline">
        <div class="flex-shrink-0 w-24 h-24 overflow-hidden rounded-lg">
          <img [src]="article.thumbnail" [alt]="article.title" class="object-cover w-full h-full" />
        </div>

        <div class="ml-4 flex-1">
          <h2 class="text-xl font-semibold text-gray-800 hover:text-purple-600 transition-colors">
            {{ article.title }}
          </h2>
          <p class="text-sm text-gray-500 mt-1">
            {{ article.createdAt| date:'mediumDate' }}
          </p>
        </div>

        <div (click)="delete(article.id)" *ngIf="role == 'admin'" class="md:col-span-2 pt-4 flex justify-end space-x-3">
          <button class="bg-gradient-to-r from-blue-400 to-blue-800 text-white px-2 py-1 rounded-lg shadow
                     hover:from-blue-600 hover:to-blue-200 transition">
            Xóa
          </button>
        </div>
      </a>
      <!-- Phân trang -->
      <div class="flex justify-center space-x-1 mt-6">
        <button class="px-3 py-1 border rounded hover:bg-gray-100" [disabled]="currentPage === 0"
          (click)="loadPage(currentPage - 1)">
          «
        </button>
        <button *ngFor="let p of pages" class="px-3 py-1 border rounded hover:bg-gray-100" [ngClass]="{
                'bg-purple-500 text-white': p === currentPage,
                'bg-white text-gray-800': p !== currentPage
              }" (click)="loadPage(p)">
          {{ p + 1 }}
        </button>
        <button class="px-3 py-1 border rounded hover:bg-gray-100" [disabled]="currentPage === totalPages - 1"
          (click)="loadPage(currentPage + 1)">
          »
        </button>
      </div>
    </div>

    <div class="lg:w-1/4 space-y-4">
      <!-- Block 1 -->
      <div class="relative bg-gradient-to-r bg-gray-800 rounded-lg shadow p-6 space-y-4 text-white">
        <div class="flex items-center space-x-4 p-4 rounded-lg">
          <div class="flex-shrink-0 flex items-center justify-center h-12 w-12 bg-blue-600 rounded-full">
            <i class="fas fa-phone text-white text-xl"></i>
          </div>

          <div class="text-white">
            <h4 class="font-semibold text-lg">Hotline</h4>
            <h4 class="text-blue-200 text-2xl font-bold">1900 56 56 56</h4>
          </div>
        </div>

        <h3 class="text-white text-base leading-relaxed">
          Liên hệ ngay với số hotline của <span class="font-bold">MEDCARE</span> để được phục vụ và sử dụng các dịch vụ
          khám, chữa bệnh hiện đại & cao cấp nhất.
        </h3>

        <div class="w-full py-4 flex justify-center items-center">
          <button class="bg-white text-blue-700 font-bold py-3 px-6 rounded-lg transition duration-300 shadow-md 
            hover:shadow-lg hover:bg-blue-300 text-lg"
            onclick="window.location.href='https://www.facebook.com/BenhVienDaKhoaMedlatec/'">
            Liên hệ với chúng tôi
          </button>
        </div>
      </div>

      <!-- Block 2 -->
      <div class="flex items-center rounded-lg shadow hover:shadow-md transition-shadow no-underline">
        <div class="rounded-lg shadow-lg overflow-hidden h-full">
          <img [src]="'../../../assets/images/Advertirement.jpg'" alt="Service illustration"
            class="w-full h-full object-cover transition-all duration-300">
        </div>
      </div>
    </div>

  </div>

</div>